<div id="vis"></div>
<%= render :partial => 'shared/bubbles_js' %>


<table class="table table-striped" id="transfer_table">
  <caption>טבלת כלל ההעברות בתכנית פעולה זו</caption>
   <thead>
    <tr>
      <th>מספר פנייה</th>
      <th>תיאור הבקשה</th>
      <th>סכום נטו</th>
    </tr>
   </thead>
   <tbody>
   </tbody>
</table>
