<div id="transfer_table">
<table class="table table-striped">
  <caption>טבלת כלל ההעברות בתכנית פעולה זו</caption>
   <thead>
    <tr>
      <th>שם</th>
      <th>קוד</th>
    </tr>
   </thead>
   <tbody>
    <% @json.each do |budget| %>
    <tr>
      <td><%= budget["title"] %></td>
      <td><%= budget["budget_id"] %></td>
    </tr>
    <% end %>
   </tbody>
</table>
<div>