<table>
  <tr>
    <th>section_id</th>
    <th>net</th>
  </tr>

  <% @transfers.each do |transfer| %>
    <tr>
      <td><%= transfer.section_id %></td>
      <td><%= transfer.net %></td>
    </tr>
<% end %>
</table>

