<!DOCTYPE html>
<html>
<head>
  <title>Openfinance</title>
  <%= stylesheet_link_tag "application" %>
  <!--%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %-->
  <!--%= javascript_include_tag "bubble" %-->
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
